@charset "utf-8";

/* reset */
* {margin: 0;padding: 0; box-sizing: border-box;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}

.wrap {background: #eee;}
.inner {width: 67%; margin: 0 auto;}
.inner h2 {font-size: 28px; font-weight: 500; margin-top: 78px;}
.inner ul {display: flex; justify-content: space-between;margin-top: 30px; flex-wrap: wrap;}
.inner ul li {width: 50%;}
.inner ul li .txt {margin-top: 12px;}
.inner ul li .container { display: flex;padding: 60px 0; border-top: 1px solid #888;}
.inner ul li .container .icon {font-size: 50px; width: 100px;height: 100px;background: #ddd; border-radius: 50%; text-align: center; justify-content: center; align-items: center;padding-top: 13px; margin-right: 30px;}

.inner2 {display: flex; justify-content: space-between;}

.inner .QRbox {text-align: center; background: #fff;}
.inner .store {display: flex; justify-content:center;}
.inner .store .gogle {width: 30%; display: flex; justify-content: center; }

.inner .store .apple {width: 30%; display: flex; justify-content: center; }