@charset "utf-8";

/* reset */
* {margin: 0;padding: 0; box-sizing: border-box;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}

.inner {width: 66%; margin: 110px auto; display: flex; justify-content: space-between; position: relative;}

.inner .leftBox {width: 45%;}
.inner .leftBox .tit {font-weight: 800; letter-spacing: 3px; margin-bottom: 20px;}
.inner .leftBox h2 {font-size: 68px; font-weight: 900; letter-spacing: -2px; line-height: 1.2;margin-bottom: 60px;}
.inner .leftBox .txt {font-size: 17px; line-height: 1.8; margin-bottom: 80px;}
.inner .leftBox .btn {width: 160px; height: 50px; background: #000; color: #fff; display: flex; justify-content: center; text-align: center; align-items: center;}
.inner .leftBox .btn a {font-weight: 900; margin-right: 10px; font-size: 18px;}
.inner .leftBox .btn .line {width: 40px; height: 3px;background: #fff;}




.inner .rightBox {width: 35%; position: relative; margin-right: 70px; padding: 10px;}
.inner .rightBox .dia {width: 350px; height: 350px; border: 4px solid #ddd; margin: 50px auto; transform: rotate(45deg);}
.inner .rightBox .logo {position: absolute; left:54%; top:44%; transform: translate(-50% ,-50%);}
.inner .rightBox .logo p {font-size: 24px; font-weight: 800; letter-spacing: 10px;}
.inner .rightBox .logo span {font-size: 15px; letter-spacing: 28px; padding: 0 5px; font-weight: 600;}

.inner .rightBox .circle {display: flex; justify-content: space-between; flex-wrap: wrap; position: absolute; left: 0; top: 0; font-size: 18px;}
.inner .rightBox .circle li {width: 180px; height: 180px; background: #eee; border-radius: 50%; text-align: center; justify-content: center; align-items: center; font-weight: 900; padding-top: 75px; margin-bottom: 90px; color: #fff;}
.inner .rightBox .circle li:nth-child(1) {background: #777}
.inner .rightBox .circle li:nth-child(2) {background: #000}
.inner .rightBox .circle li:nth-child(3) {background: #000; padding-top: 65px;} 
.inner .rightBox .circle li:nth-child(4) {background: #777}

.con1 .icon {text-align: center;position: absolute; left: 68px; bottom: 170px;}
.con1 .icon li {font-size: 25px; font-weight: 900;}


.con1 .top {width: 55px; height: 55px; background: #000; color: #fff; font-size: 22px; display: flex; justify-content: center; align-items: center; position: fixed; right: 5%; bottom:20%;}
